@font-face {
  font-family: 'Brown-Bold';
  src: url('Brown-Bold.ttf') format('truetype'),
       url('Brown-Bold.woff') format('woff'),
       url('Brown-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brown-Light';
  src: url('Brown-Light.ttf') format('truetype'),
       url('Brown-Light.woff') format('woff'),
       url('Brown-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brown-Regular';
  src: url('Brown-Regular.ttf') format('truetype'),
       url('Brown-Regular.woff') format('woff'),
       url('Brown-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}