.wrapper {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1060px;
  height: 995px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.header {
  position: relative;

  &:before,
  &:after {
    content: " ";
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    
  }

  &:before {
    top: 0;
    background-image: url(../images/vector1.png);
    background-position: top left;
    width: 845px;
    height: 700px;
    left: 7%;
    z-index: -1;
  }

  &:after {
    bottom: 0;
    background-image: url(../images/vector1.png);
    background-position: bottom left;
    width: 562px;
    height: 465px;
    left: 0;
    top: 750px;
    z-index: -2;
  }

  &__inner {
    min-height: 140px;
    z-index: 2;
  }

.menu {

  &__nav {
    margin: 0;
    padding: 0;
  }

  &__list {
    margin-right: 50px;
  }

  &__link {
    color: $text-menu;
    font-size: 19px;
    font-weight: 700;
    transition: color 0.3s ease;
    padding: 10px 0 7px;
    position: relative;

    &:hover {
      color: $bg-btn;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: $bg-btn;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform .4s ease-in-out;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

}   

