.news {
 
  &__inner {
    padding-top: 40px;
    flex-wrap: wrap;
    margin-bottom: 120px;
  }

  &__top {
    max-width: 560px;
    width: 100%;
    padding-top: 200px;
  }

  &__content {
    max-width: 560px;
    background-color: $white;
    box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
    border-radius: 10px;
    width: 100%;
    padding: 220px 40px 80px 55px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-position: 50px 50px;

    &--icon1 {
      background-size: 176px 121px;
    }

    &--icon2 {
      background-size: 127px 121px;
      background-position: 70px 50px;

    }

    &--icon3 {
      background-size: 133px 127px;
      background-position: 70px 50px;
    }
  }

  &__title {
    font-weight: 300;
  }

  &__title-md {
    font-size: 30px;
    color: $bg-footer;
  }

  &__text-md {
    font-size: 18px;
  }
}