.proof {
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  width: 100%;
  margin-bottom: 100px;

  &__title {
    @include text-title;
  }

  &__text {
    margin: 30px auto;
    width: 880px;
  }

  &__inner {
    flex-wrap: wrap;
    padding: 100px 0 170px;
  }

  &__content {
    max-width: 250px;
    margin-bottom: 50px;
    padding: 20px 0 40px;
  }

  &__title-s {
    font-weight: 400;
    color: $bg-footer;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text-s {
    font-size: 16px;
  }

  &__icon {
    width: 80px;
    height: 80px;
    position: relative;
    left: 80px;
    margin-bottom: 40px;

    &--icon1 {
      background-position: 0 0;
    }

    &--icon2 {
      background-position: -110px -10px;
    }

    &--icon3 {
      background-position: -210px -10px;
    }

    &--icon4 {
      background-position: -10px -111px;
    }

    &--icon5 {
      background-position: -110px -111px;
    }

    &--icon6 {
      background-position: -210px -111px;
    }

    &--icon7 {
      background-position: -310px -10px;
    }

    &--icon8 {
      background-position: -310px -110px;
    }

    &--icon9 {
      background-position: -10px -211px;
    }

    &--icon10 {
      background-position: -110px -211px;
    }

    &--icon11 {
      background-position: -210px -211px;
    }

    &--icon12 {
      background-position: -310px -211px;
    }
  }
}